<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="address">
      <h2 data-cy="addressDetailsHeading"><span>Address</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ address.id }}</span>
        </dd>
        <dt><span>Line 1</span></dt>
        <dd>
          <span>{{ address.line1 }}</span>
        </dd>
        <dt><span>Line 2</span></dt>
        <dd>
          <span>{{ address.line2 }}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
          <span>{{ address.city }}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
          <span>{{ address.state }}</span>
        </dd>
        <dt><span>Pincode</span></dt>
        <dd>
          <span>{{ address.pincode }}</span>
        </dd>
        <dt><span>Lat</span></dt>
        <dd>
          <span>{{ address.lat }}</span>
        </dd>
        <dt><span>Lon</span></dt>
        <dd>
          <span>{{ address.lon }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <span>{{ address.country }}</span>
        </dd>
        <dt><span>Landmark</span></dt>
        <dd>
          <span>{{ address.landmark }}</span>
        </dd>
        <dt><span>Shipping Address</span></dt>
        <dd>
          <span>{{ address.shippingAddress }}</span>
        </dd>
        <dt><span>Billing Address</span></dt>
        <dd>
          <span>{{ address.billingAddress }}</span>
        </dd>
        <dt><span>Home Address</span></dt>
        <dd>
          <span>{{ address.homeAddress }}</span>
        </dd>
        <dt><span>Office Address</span></dt>
        <dd>
          <span>{{ address.officeAddress }}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
          <span>{{ address.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updated On</span></dt>
        <dd>
          <span>{{ address.updatedOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ address.createdBy }}</span>
        </dd>
        <dt><span>Updated By</span></dt>
        <dd>
          <span>{{ address.updatedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/address', address.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
